body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: repeat-x;
  background-position: left;
  color: white;
}

h1 h2 h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  color: inherit;
}

.footer {
  background-color: dimgray;
  text-align: left;
  color: white;
}
